.main-content__wrap {
    padding-left: 80px;
}
.leftside-wrap {
    display: flex;
    width: 30%;
}
.portfolio {
    background-color: #30343a;
}
.portfolio-block__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 30px 0;
}
.portfolio-block__inner {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 20px;
    height: auto;
}
.portfolio-block {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.portfolio-list__item {
    display: flex;
}
.portfolio-list__item-image {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.portfolio-list__item-link {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
}
.follow-me .portfolio-list__item-image {
    
}
.follow-me .portfolio-list__item-link {
    
}
.my-contacts .portfolio-list__item-image {
    background-color: #ffcb05;
    border-radius: 40%;
}
.my-contacts .portfolio-list__item-link {

}
.my-skills .portfolio-list__item-image {
    height: 20px;
    width: 120px;
    margin-left: auto;
}
.my-skills .portfolio-list__item-link {
    

}
.my-hobbies .portfolio-list__item-image {
    
}
.my-hobbies .portfolio-list__item-link {

}