body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #454953;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: row;
}
.header_description {
    width: 70%;
}
.header_item.photo {
    width: 30%;
    max-width: 400px;
    overflow: hidden;
}
.header_item.photo img {
    max-width: 100%;
    height: auto;
}
.about_block {
    background-color: #f2ca30;
}
h1 {
    margin-bottom: 0px;
    font-size: 6em;
    color: #414142;
}
h2 {
    background-color: #414142;
    font-size: 3em;
    color:  #ffcb05;
}
.header_skills {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    background-color: #2b2e32;
    padding-left: 100px;
    padding-right: 100px;
}
.header_skills h3 {
    color: #ffcb05;
}
.header_skills h4 {
    color: #ffffff;
}
.header_photo > img {
    width: 900px;
    display: none;
    
}