body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-block {
    max-width: 1200px;
    margin: 0 auto;
}
.wrap {
    background-color: #ffcb05;
}
.block__1_1 {
    margin-bottom: 0px;
    font-size: 6em;
    color: #414142;
}
.block__1_2 {
    background-color: #414142;
    font-size: 3em;
    color:  #ffcb05;
}
.block__1_3 {
    height: 100px;
}
.block__1_4 {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    background-color: #2b2e32;
}
.block__1_4 li {
    list-style-type: none;
}

.block__1_4 .list_item1 {
    color: #ffcb05;
}
.block__1_4 .list_item2 {
    color: #ffffff;
}
.block__2_img1 {
    width: 800px;
}